{% extends 'base.html.twig' %}

{% block title %}Liste des tâches{% endblock %}

{% block header_img %}{% endblock %}

{% block body %}

{% if 'task_list' == app.request.attributes.get('_route') %}
    
    <div class="center-box">

        <a href="{{ path('task_create') }}" class="btn create-tasks-button">Créer une tâche</a>

        <a href="{{ path('task_done') }}" class="btn btn-secondary">Tâches terminées</a>

    </div>

    <h1 class="center-box special-title mt-4 mb-4">Liste des tâches</h1>

{% endif %}

{% if 'task_done' == app.request.attributes.get('_route') %}
    
    <div class="center-box">

        <a href="{{ path('task_list') }}" class="btn btn-primary">Consulter toutes les tâches</a>

    </div>

    <h1 class="center-box special-title mt-4 mb-4">Liste des tâches terminées</h1>

{% endif %}

    <div class="row">

        {% for task in tasks|slice(start, limit) %}

        <div class="col-sm-12 col-lg-4 col-md-12">

            <div class="thumbnail special-thumbnail">

                <div class="caption special-caption-box">

                    <h5>

                        {% if task.isDone %}

                        <span class="glyphicon glyphicon-ok special-glyph"></span>

                        {% else %}

                        <span class="glyphicon glyphicon-remove special-glyph"></span>
                        
                        {% endif %}

                    </h5>

                    <div class="regular-spacer"></div>
                    <div class="regular-spacer"></div>

                    <h5>
                        <a class="special-task-title" href="{{ path('task_edit', {'id' : task.id }) }}">
                        {{ task.title|upper|raw }}
                        </a>
                    </h5>

                    {% if (task.usertodo.role != 'ROLE_ANONYMOUS') and (task.freshDate is null) %}

                        <p class="task-infos">
                        PAR {{ task.usertodo.username|upper|raw }} &bull; LE {{ task.createdAt|date('d/m/Y H:i')|raw }}
                        </p>

                    {% endif %}

                    {% if (task.usertodo.role != 'ROLE_ANONYMOUS') and (task.freshDate is not null) %}

                        <p class="task-infos">
                        PAR {{ task.usertodo.username|upper|raw }} &bull; MIS À JOUR LE {{ task.freshDate|date('d/m/Y H:i')|raw }}
                        </p>

                    {% endif %}

                    {% if (task.usertodo.role == 'ROLE_ANONYMOUS') and (task.freshDate is not null) %}

                        <p class="task-infos">
                        MIS À JOUR LE {{ task.freshDate|date('d/m/Y H:i')|raw }}
                        </p>

                    {% endif %}

                    <p>{{ task.content }}</p>

                </div>

                <div class="center-box">

                    <form action="{{ path('task_toggle', {'id' : task.id }) }}">

                        <button class="btn btn-success btn-sm">

                            {% if not task.isDone %}
                            Marquer comme faite
                            {% else %}
                            Marquer non terminée
                            {% endif %}

                        </button>

                    </form>

                    {% if is_granted('ROLE_ADMIN') or app.user.id == task.usertodo.id %}

                        <form action="{{ path('task_delete', {'id' : task.id }) }}">

                            <button class="btn btn-danger btn-sm" onclick="return(confirm('Validez-vous ce choix ?'));"><span class="glyphicon glyphicon-trash"></span></button>

                        </form>

                    {% endif %}

                    <div class="regular-spacer"></div>

                </div>

            </div>

        </div>

        {% else %}

            <div class="alert alert-warning" role="alert">

                <p>Il n'y a pas encore de tâche enregistrée sur cette page.</p>

            </div>

        {% endfor %}

    </div>

    <div id="paging_links" class="center-box"> 
    </div>

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="{{ asset('module/paginate.js') }}"></script>

{% if 'task_list' == app.request.attributes.get('_route') %}
        
    <script>

        firstLink({{ tasks|length }}, '{{ path('task_list') }}');

        var nbr_links = Math.ceil({{ tasks|length }} / 10);

        linksLoop(nbr_links, '{{ path('task_list') }}');

    </script>

{% endif %}

{% if 'task_done' == app.request.attributes.get('_route') %}

    <script>

        firstLink({{ tasks|length }}, '{{ path('task_done') }}');

        var nbr_links = Math.ceil({{ tasks|length }} / 10);

        linksLoop(nbr_links, '{{ path('task_done') }}');

    </script>

{% endif %}

{% endblock %}
