<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="TO DO LIST APP">

        <meta name="author" content="TODO AND CO">

        <title>{% block title %}TO DO LIST APP{% endblock %}</title>

        {% block stylesheets %}

        {{ encore_entry_link_tags('app') }}

        {% endblock %}

    </head>

    <body>

        <nav class="navbar navbar-light fixed-top main-navbar" role="navigation">

            <div class="container">

                <div class="navbar-header">

                    <img class="openclass-logo" src="{{ asset('build/images/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms" title="OpenClassrooms"/>

                    <a class="navbar-brand main-logo" href="/">TO DO LIST APP</a>

                </div>

            </div>

        </nav>

        <div class="container">

            <div class="row">

                {% if app.user and is_granted('ROLE_ADMIN') %}

                    <button type="button" class="btn btn-light special-modal-button" data-bs-toggle="modal" data-bs-target="#exampleModal">

                        <span class="menu-text">MENU&nbsp;&nbsp;</span>

                        <span class="glyphicon glyphicon-user"></span>

                    </button>

                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

                        <div class="modal-dialog">

                            <div class="modal-content">

                                <div class="modal-header special-modal-header">

                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                                </div>

                                <div class="modal-body center-box special-modal-body">

                                    <a href="{{ path('task_create') }}" class="dropdown-item" href="#">Créer une tâche</a>

                                    <a href="{{ path('task_list') }}" class="dropdown-item" href="#">Liste des tâches</a>

                                    <a href="{{ path('task_done') }}" class="dropdown-item" href="#">Tâches terminées</a>

                                    <a href="{{ path('user_create') }}" class="dropdown-item" href="#">Créer un utilisateur</a>

                                    <a href="{{ path('user_list') }}" class="dropdown-item" href="#">Gérer les utilisateurs</a>

                                    <a href="{{ path('logout') }}" class="dropdown-item" href="#">

                                        Se déconnecter&nbsp;&nbsp;
                                        <span class="glyphicon glyphicon-log-out"></span>

                                    </a>

                                </div>

                            </div>

                        </div>

                    </div>

                {% endif %}

                {% if app.user and app.user.role == 'ROLE_USER' %}

                <a href="{{ path('logout') }}" class="btn btn-light logout-button">

                    <span class="logout-text">Se déconnecter&nbsp;&nbsp;</span>

                    <span class="glyphicon glyphicon-log-out"></span>

                </a>

                {% endif %}

                {% if not app.user and 'login' != app.request.attributes.get('_route') %}

                <a href="{{ path('login') }}" class="btn btn-success">

                    Se connecter&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-log-in"></span>

                </a>

                {% endif %}
            </div>

            <div class="row">

                <div class="col-md-12">

                    {% for flash_message in app.session.flashBag.get('success') %}

                        <div class="alert alert-success center-box" role="alert">

                            <strong>Superbe !</strong> {{ flash_message }}

                        </div>

                    {% endfor %}

                    {% for flash_message in app.session.flashBag.get('error') %}

                        <div class="alert alert-danger center-box" role="alert">

                            <strong>Oops !</strong> {{ flash_message }}

                        </div>

                    {% endfor %}

                    {% block header_title %}{% endblock %}

                    {% block header_img %}

                        <div class="center-box">

                            <img class="slide-image" src="{{ asset('build/images/todolist_homepage_2.jpg') }}" alt="todo list">

                        </div>

                    {% endblock %}

                </div>

            </div>

            <div class="regular-spacer"></div>

            <div class="row">

                <div class="col-md-12">

                    {% block body %}{% endblock %}

                </div>

            </div>

        </div>

        <div class="container">

            <hr>

            <footer>

                <div class="row">

                    <div class="col-lg-12">

                        <p class="copyright">Copyright &copy; OpenClassrooms</p>

                    </div>

                </div>

            </footer>

        </div>
        
    </body>

    {% block javascripts %}

    {{ encore_entry_script_tags('app') }}

    {% endblock %}

</html>
